<strong>Employee Search</strong>
<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 50px; border: 1px solid rgb(100, 98, 98); padding: 30px;">
        <input class="form-control" type="text" name="name" [(ngModel)]='name' placeholder="find By Name" (keyup)="search(name)">
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 50px; border: 1px solid rgb(100, 98, 98); padding: 30px;" *ngFor="let emp of empFiltered">
            <app-emp-info [employee]='emp'></app-emp-info>
        </div>
    </div>
</div>