<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/main">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewEmployee">Emp Details</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/searchEmployee">Search Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/increment">Increment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editEmployee">Edit Details <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/editEmployeeReactive">Reactive Form</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li> -->
      </ul>
    </div>
  </nav>