<!DOCTYPE html>
<html>
    <head>
        <script> var exports = {}; 
        </script>
        <script src="employee-test.js"></script>
    </head>
<body>

    <h2>HandsOns</h2>
    <div class="display">
        <button onclick="display()" value="Show">SHOW</button>
    </div>
    <p id="showData"></p>
    <!-- <script>
        console.log("Object Creation using Javascript");
        var obj = {FirstName:"John",
        LastName:"Stoke",
        Salary:5000,
        PermanentStaff:true,
        };
        console.log(obj);
        var data={
        "employees":[
        {"firstName":"John", "lastName":"Stoke","Salary":5000,"Permanent Staff":true}
        ]
        }
        console.log("Before Adding");
        console.log(data.employees[0]);
        data.employees[0].departmentId=3;
        data.employees[0].departmentName="payroll";
        console.log("after adding");
        console.log(data.employees[0]);
        data.employees[0].skill={"skill1":(1,"HTML"),
        "skill2":(2,"CSS"),
        "skill3":(3,"JavaScript")
        }
        console.log(data.employees[0]);
    </script> -->

</body>
</html>
